In [10]:
# Imports
from Mark import Mark
from Leg import Leg
from Course import Course
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
%matplotlib inline

In [11]:
buoys = pd.read_csv("Buoys10.csv")
buoys[:10]

  Code                 Name     Lat   Long
0    A             Northern  50.135 -5.042
1    B                  Bay  50.108 -5.000
2    C              Central  50.120 -5.033
3   CN            SKB Sails  50.145 -5.020
4   GY      Choak’s Pasties  50.138 -5.060
5    H              Helston  50.093 -5.013
6   HD         Hine-Downing  50.138 -5.042
7    M  The Cove Restaurant  50.125 -5.080
8    N                 Nare  50.089 -5.082
9   OW             Old Wall  50.123 -5.009